.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 300px;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.49);
}

.no-tasks {
  margin-top: 300px;
}

.no-tasks,
.no-tasks-desc {
  font-size: 64px;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 20px 20px;
  gap: 30px;
  margin-top: 20px;
}

.task {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
  transition: transform 0.2s ease;
}

.task:hover {
  transform: translateY(-5px);
}


.task p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  font-size: 24px;
  font-weight: 600;
}

.task span {
  font-weight: 400;
  font-size: 22px;
}

.complete-button {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.checkmark {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.checkmark:hover {
  transform: scale(1.2);
}