<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Design Task Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/style/global/sidebar.css}">
  <link rel="stylesheet" th:href="@{/style/global/general.css}">
  <link rel="stylesheet" th:href="@{/style/createTaskPage/createTaskPage.css}">
  <link rel="stylesheet" th:href="@{/style/createTaskPage/inputWindow.css}">
</head>

<body>

  <div class="page">
    <p class="title">Task Manager</p>

    <form method="post" th:action="@{/tasks}" th:object="${task}">

      <div class="input-window">
        <div class="name-input">
          <label for="name">Enter task name:</label>
          <input type="text" placeholder="Example Task Name" th:field="*{name}">
        </div>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

        <div class="desc-input">
          <label for="description">Enter task description:</label>
          <textarea placeholder="Example Task Description" th:field="*{description}"></textarea>
        </div>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
      </div>

      <button type="submit">
        Add task
      </button>

    </form>
  </div>

  <div class="sidebar">
    <div class="head">
      <p>Task Manager Features</p>
    </div>
    <div class="links">
      <a th:href="@{/}" class="page-link">Home Page</a>
      <a th:href="@{/tasks/new}" style="background-color: rgb(220, 220, 220);" class="page-link">Add New Task</a>
      <a th:href="@{/tasks}" class="page-link">Check My Tasks</a>
    </div>
    <div class="info-wrap">
      <p class="info">This project is my practice with Spring Boot and JDBC. At first I'm gonna use only Spring MVC and
        JDBC, then I'm gonna update it with using Spring Security and other Spring features, also I'm gonna change
        database section adding JDBCTemplate, then Spring Data JDBC and finally, when I study it, I wanna use Spring
        Data JPA with Hibernate. Further I'm gonna explore REST and use it as well! Overall I will always update this
        project!</p>
    </div>

    <div class="socials">
      <a href="https://t.me/xhosh256" target="_blank">
        <img class="logo" th:src="@{/image/telegram-logo.png}">
      </a>

      <a href="https://github.com/xhosh256" target="_blank">
        <img class="logo" th:src="@{/image/github-logo.png}">
      </a>
    </div>
  </div>
</body>

</html>